<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 main">
			<h1>Weather Forecast</h1>
			<h2>USA</h2>
			<br/><br/>
			<div id="form" class="row">
				<div class="col-xs-9 form-group">
					<input type="text" class="form-control" placeholder="Enter State Code, eg: CA" />
				</div>
				<div class="col-xs-3">
					<button class="btn btn-default btn-block">Search</button>
				</div>
			</div>
			<hr/><br/>
			<div id="city"></div>
				<br/><br/>
			<div id="details"></div>
		</div>
	</div>
</div>


